{% extends 'base.html' %}
{% load static from staticfiles %}
{% block scripts %}
  <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>
  <script>

  </script>
{% endblock %}

{% block nav %}{% endblock %}
{% block content %}
  <div class="container">
    <h1>ppl</h1>

    <p>Hack@UCF membership and sponsor benefit portal. </p>
    <div class="row">
      <div class="six columns button button-index">
        {# icon by Catia Marsh Mallow #}
        <img src="{% static 'images/grad-cap.svg' %}" alt="graduation cap" class="u-full-width"/>
        <a href="{% url 'membership:dashboard' %}">Membership Lookup</a>
      </div>
      <div class="six columns button button-index">
          {# icon by Catia Marsh Mallow #}
          <img src="{% static 'images/suitcase.svg' %}" alt="suitcase" class="u-full-width"/>
        <a href="{% url 'membership:dashboard' %}">Resume/CV Archive</a>
      </div>
    </div>
  </div>
{% endblock %}