{% extends 'base.html' %}
{% load static from staticfiles %}
{% block nav %}{% endblock %}
{% block content %}
  <div class="container">
    <h1>ppl</h1>
    {% with reason=request.GET.reason %}
      {% if reason %}
        <div class="row" id="forbidden">
          <h3 class="forbidden-reason">Access Denied</h3>
          {% if reason == 'no_member_view_permission' %}
            <p>You do not have permission to view the Hack@UCF member database. Both a Google account and permission to view the source Google Sheet with that account are required.</p>
          {% elif reason == 'no_resume_view_permission' %}
            <p>You do not have permission to view the resume/CV database. If this should not be the case, please email
              <a href="mailto:ops@hackucf.org">ops@hackucf.org</a> for help!</p>
          {% endif %}
        </div>
      {% endif %}
    {% endwith %}
    <div class="row">
      <div class="six columns">
        <h3>Google Login</h3>
        <p>Hack@UCF executives and operations: Use this.</p>
        <div class="center">
          <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}">
            <img src="{% static 'google_signin_buttons/1x/btn_google_signin_dark_normal_web.png' %}" alt="Google OAuth2">
          </a>
        </div>
      </div>
      <div class="six columns">
        <h3>Local Login</h3>
        <p>Sponsors: please enter your provided credentials unless you are sure have OAuth credentials to this website.</p>
        <form id="local-login" action="" method="post">
          {% csrf_token %}
          <div class="row">
            {{ form.username.label }}
            <input type="text" id="{{ form.username.id }}" name="{{ form.username.name }}" class="u-full-width">
          </div>

          <div class="row">
            {{ form.password.label }}
            <input type="password" id="{{ form.password.id }}" name="{{ form.password.name }}" class="u-full-width">
          </div>
          <input class="button-primary" type="submit">
        </form>
      </div>
    </div>

  </div>
{% endblock %}